#contconfig2 {
    background-image: linear-gradient(-115deg, rgb(13 16 66 / 0%) 33%, rgb(13 16 66 / 63%) 66%), linear-gradient(180deg, rgba(13,16,66,0) 75%, rgba(13,16,66,1) 100%);
    background-repeat: no-repeat !important;
    width: 100% !important;
    height: auto;
    background-size: cover;
    background-attachment:fixed;
    min-height: 100vh !important;
}

.bg-login {  
    position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background-size: auto; 
}

body {
    width: 100%;
    height: auto;
    overflow:hidden;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.area-login{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.login{
    border-radius: 20% 0;
    border: 1px solid #21aeff;
    box-shadow: 1px 1px 15px #66c0f4cc;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(#171a21c9, #1b2838c4);
    width: 400px;
    height: 520px;
    padding: 35px;
}

.login form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login input{
    padding-left: 10px;
    margin-top: 10px;
    background-color:#00000080 ;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
    color:#e3e3e3;
}

.login input:focus {
    border: 1px solid #21aeff;
    box-shadow: 1px 1px 15px #66c0f4cc;
}

.logo-login{
    margin-bottom: 20px;
    width: 330px;
    height: auto;
}

input::placeholder{
    color:#CBD0F7 ;
    font-size: 14px;
}

p {
    text-align: center;
    color: #5c5c5c;
}

input[type="submit"]{
    display: block;
    background-color: #00000080;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 20px;
}

input[type="submit"]:hover{
    background-color: #007a9c;
    border: 1px solid #21aeff;
    background-color: #007a9c;
}

.btn_voltar {
    padding: 6px;
    color:#e3e3e3;
    display: block;
    background-color: #00000080;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    height: 35px;
    border-radius: 20px;
    height: 43px;
    transition: 0.4s;
}

.btn_voltar:hover {
    color: #e3e3e3;
    background-color: #007a9c;
    background-color: #007a9c;
    border: 1px solid #21aeff;
}

.link {
    color:#ffffffad;
    text-decoration: none;
    margin-left: 10px;
    transition: 0.5s;
}

.link:hover {
    opacity: 0.7;
   color: #0bb4e3;
   text-shadow: 0 0 15px #06caff;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    border-radius: 20% 0;
    border: 1px solid #21aeff;
    box-shadow: 1px 1px 15px #66c0f4cc;
    background-image: linear-gradient(#171a21c9, #1b2838c4);
    margin-top: 30px;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    overflow-y: scroll;
    height: 300px;
    display: none;
    position: absolute;
    border: 1px solid #66c0f473;
    background-color: #1b283893;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.384);
    z-index: 1;
    border-radius: 0 20%;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }
  .dropdown-content a:hover {
    opacity: 0.7;
    color: #0bb4e3;
    text-shadow: 0 0 15px #06caff;
  }

  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color: #06caff; text-shadow: 0 0 15px #06caff;}
  